@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html, body {
    height: 100%;
}
  

body{
  background: linear-gradient(70deg, #A7C0DC, #DBE4EE);
}
/* Tableau 

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem 0;
  }
  
  h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0;
  }
  
  h2 a {
    color: #007bff;
    text-decoration: none;
  }
  
  h2 a:hover {
    text-decoration: underline;
  }
  

table {
    border-collapse: collapse;
    width: 150%;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  tfoot td {
    font-weight: bold;
    text-align: center;
    background-color: #f2f2f2;
  }
  
  tfoot td:first-child {
    border-top: 2px solid #ddd;
  }
  
  tfoot td:last-child {
    border-bottom: 2px solid #ddd;
  }
  
  @media only screen and (max-width: 600px) {
    table {
      font-size: 14px;
    }
  }
 Fin Tableau */

/* Formulaire 

#container {
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 1px solid #ccc;
    
      
  }

  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
  }
  
  #submit,
  #reset {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
  }
  
  #reset {
    background-color: #f44336;
  }
  
  a {
    color: purple;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
  }
  
  a:hover {
    text-decoration: underline;
  }

 Fin Formulaire */