<fieldset>
	<legend>Consulter Fiche Frais</legend>
	
		<form action="/Visiteur/ConsulterResultat" method="POST">
            Sélectionner le mois à consulter :<br/>
            <br/>

            <select name="mois"> <!-- Modifier ici pour utiliser l'attribut "name" -->
                <option value="Janvier">Janvier</option>
                <option value="Février">Février</option>
                <option value="Mars">Mars</option>
                <option value="Avril">Avril</option>
                <option value="Mai">Mai</option>
                <option value="Juin">Juin</option>
                <option value="Juillet">Juillet</option>
                <option value="Août">Août</option>
                <option value="Septembre">Septembre</option>
                <option value="Octobre">Octobre</option>
                <option value="Novembre">Novembre</option>
                <option value="Décembre">Décembre</option>
            </select>

            <br/>

            <input type="submit" value="Valider"/>
        </form>
        <br/>
    <button> <a href="./retourConsulter"</a> Retour </button>
</fieldset>	