<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GSB Frais - Connexion</title>
</head>
<body>
	<h1>Bienvenue Comptable</h1>

    <h2> <a href="./FormulaireFicheFrais"> Valider les fiches de frais </a> </h2>

	<button> <a href="./Deconnecter"</a> Se Deconnecter </button>


</body>
</html>