
<!DOCTYPE html>
<html>
    <head lang='fr'>
        <title>Modifier fiche de frais</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset('style.css') }}">
        
    </head>
  <body>
    <div class="container">
      <section class="section">
        <h1 class="title is-1 has-text-centered">Modifier fiche de frais</h1>
        <form action="/Comptable/SuivreFicheFrais/SuivreValide/ModifierFicheFrais" method="GET">
          <div class="field">
            <label class="label">1. Nombre de Justificatifs</label>
            <div class="control">
              <input class="input" type="text" placeholder="Justificatifs..." name="nbJustificatifs" required="required" autocomplete="off">
            </div>
          </div>
          <div class="field">
            <label class="label">2. Montant Valide</label>
            <div class="control">
              <input class="input" type="text" placeholder="Montant..." name="montantValide" required="required" autocomplete="off">
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary" type="submit"><i class="fas fa-edit"></i> Modifier</button>
            </div>
            <div class="control">
              <button class="button is-light" type="reset"><i class=""></i> Annuler</button>
            </div>
          </div>
        </form>
        <h2 class="subtitle is-5 has-text-centered"><a href="/Comptable/SuivreFicheFrais/SuivreValide"><i class="fas fa-arrow-left"></i> Retour</a></h2>
      </section>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  </body>
</html>