<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ asset('style.css') }}">
	<title>GSB Frais - Connexion</title>
</head>
<body>

	<section class="section">
		<div class="container">
			<h1 class="title has-text-centered">Accueil</h1>
			<div class="columns is-centered">
				<div class="column is-half">
					<div class="card">
						<header class="card-header">
							<p class="card-header-title">
								<a href="./Visiteur/Connexion">Visiteur</a>
							</p>
						</header>
						<div class="card-content">
							<div class="content">
								<p>Accéder à l'espace Visiteur pour saisir vos fiches de frais.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="column is-half">
					<div class="card">
						<header class="card-header">
							<p class="card-header-title">
								<a href="./Comptable/Connexion">Comptable</a>
							</p>
						</header>
						<div class="card-content">
							<div class="content">
								<p>Accéder à l'espace Comptable pour valider les fiches de frais des visiteurs.</p>
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>


