<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GSB Frais - Connexion</title>
</head>
<body>
	<h1> Connexion </h1>
    <h2> <a href="./Visiteur/Connexion"> Visiteur </a> </h2>

    <h2> <a href="./Comptable/Connexion"> Comptable </a> </h2>

</body>
</html>


